/* Global */

$color-main: #f1f1f1;
$font-header: 'Francois One', sans-serif;
$font-text: 'Caladea', sans-serif;
$font-logo: 'Dancing Script';

/* Splash */

.splash {
  padding: 0 0 48px 0;
  border: red solid 2px;
}

.background-image {
  background-image: url(images/Background_Image.jpg);
  height: 500px;
  width: 500px;
  border: yellow solid 2px
}